#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.fixed-mobile {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }
}